aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
asyncio
asyncpg
attrs
beautifulsoup4
certifi
charset-normalizer
click
Deprecated
discord.py
distro
dnspython
exceptiongroup
fastapi
frozenlist
h11
httpcore
httpx
idna
jaconv
jiter
metadata_parser
multidict
openai
pillow
propcache
pydantic
pydantic_core
pykakasi
pymongo
python-dotenv
pytz
requests
requests-toolbelt
sniffio
soupsieve
starlette
tqdm
typing_extensions
urllib3
uvicorn
wrapt
yarl
