discord.py==2.5.0
requests~=2.32.3
Pillow~=11.0.0
pytz~=2024.2
beautifulsoup4~=4.12.3
python-dotenv~=1.0.1
metadata_parser
fastapi~=0.115.5
uvicorn~=0.32.0
asyncio~=3.4.3
aiohttp~=3.11.4
asyncpg~=0.30.0
pymongo~=4.0.0
dnspython~=2.7.0
openai
